@charset "UTF-8";

$system-font: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;

$rmr-transition-duration-short: 0.2s;
$rmr-transition-duration: 0.5s;