@import "_rmr-vars";

html{/*color:#000;background:#FFF*/}body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{margin:0;padding:0}table{border-collapse:collapse;border-spacing:0}fieldset,img{border:0}address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:normal}ol,ul{list-style:none}caption,th{text-align:left}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal}q:before,q:after{content:''}abbr,acronym{border:0;font-variant:normal}sup{vertical-align:text-top}sub{vertical-align:text-bottom}input,textarea,select{font-family:inherit;font-size:inherit;font-weight:inherit}input,textarea,select{*font-size:100%}legend{color:#000}
fieldset { margin: 0; padding: 0; border: none; }
iframe { border: 0; display: block; margin: 0; padding: 0; }
body { font-family: $rmr-fonts; }
legend { display: none; }
figure { margin: 0; padding: 0; }

script {
  display: none !important;
}

* {
  box-sizing: border-box;
}
strong {
  font-weight: bold;
  em {
    font-style: italic;
    font-weight: bold;
  }
}

em {
  font-style: italic;
  strong {
    font-weight: bold;
  }
}


svg {
  pointer-events: none;
  width: 100%;
  margin : 0 auto;
  height: 100%;
  display: block;

  &#rmr-master {
    display: none;
  }
}

abbr[title] {
  cursor: help;
  text-decoration: none;
}

a abbr[title] {
  cursor: pointer;
}

picture,
video,
img,
canvas {
  padding: 0;
  margin: 0;
  display: block;
}

*[disabled] {
    cursor: not-allowed;
}

button,
select {
  &:not([disabled]) {
    cursor: pointer;
  }
}
