/**
 RMR Media Queries

 http://www.browserstrangeness.com/css_hacks.html
 */


body.rmr-js img[data-rmr-src],
body.rmr-js img[data-rmr-srcset] {
  opacity: 0;
  transition: opacity 0.5s;
  &.rmr-loaded {
    opacity: 1;
  }
}

/**

 */
@mixin rmr-dark {
  @media (prefers-color-scheme: dark) {
    @content;
  }
}

@mixin rmr-p3 {
  @supports (color: color(display-p3 0 0 0 / 1)) {
    @content;
  }
}

@mixin rmr-touch-device {
  @media (pointer: coarse) {
    @content;
  }
}

@mixin rmr-clear-float {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
  width: 0;
}


/**
 Firefox
 **/
@mixin rmr-firefox {
  @supports (-moz-appearance:meterbar) {
    @content;
  }
}


/* safari/chrome mobile */
@mixin rmr-webkit-mobile {
  @supports (-webkit-text-size-adjust:none) and (not (-ms-ime-align:auto)) and (not (-moz-appearance:none)) {
    @media (max-device-width:1024px) {
      @content;
    }
  }
}

/**
 *
 *

@mixin rmr-window-large {
  @media all and (min-width: 1000px) {
    @content;
  }
}
*/


/**

 Safari hacks

 **/
@mixin rmr-hover {
  @media not all and (hover: none) {
    @content;
  }
}

/* Any non-Microsoft modern browser (Safari 9+, Chrome 28+, Firefox 22+)*/
@mixin rmr-not-ie {
  @supports (not (-ms-ime-align:auto)) {
    @content;
  }
}

/* Safari 11 macOS & iOS */
@mixin rmr-safari-11 {
  @media not all and (min-resolution:.001dpcm) and (hover: hover) { @supports (-webkit-appearance:none) and (stroke-color:transparent) {
    @content;
  }}
}

/* Microsoft Edge 12 */
@mixin rmr-edge-12 {
  @supports (-ms-accelerator:true) and (not (color:unset)) {
    @content;
  }
}

/* Microsoft Edge 13 */
@mixin rmr-edge-13 {
  @supports (-ms-accelerator:true) and (color:unset) {
    @content;
  }
}

/* Microsoft Edge 13- */
@mixin rmr-edge-13-and-below {
  @supports (-ms-accelerator:true) {
    @content;
  }
}
