@charset "UTF-8";

$rmr-fonts-mono: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Monaco, Courier, monospace;
$rmr-fonts: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;

$rmr-transition-duration-short: 0.2s;
$rmr-transition-duration: 0.5s;
$rmr-transition-duration-long: 1s;