@import "rmr-mixins";
@import "reset";


/*

body {
 @include safari-11 {
  background: red;
 }
}


body {
  @include touch-device {
    background: blue;
  }
}


body {
  background: red;
  @include webkit-mobile {
    background: purple;
  }
}



body {
  @include firefox {
    background: purple;
  }
}
*/
