@charset "UTF-8";

@import "_rmr-mixins";
@import "_rmr-reset";
@import "_rmr-animations";
@import "_rmr-breakpoints";
@import "_rmr-vars";

div.grecaptcha-badge {
  display: none !important;
}


.rmr-aspect {
  display: block;
  width: 100%;
  position: relative;
  overflow: hidden;

  &:before {
    content: "";
    display: block;
    width: 0;
    height: 0;
    padding-bottom: 100%;
  }

  &[data-rmr-aspect="2-3"] {
    &:before {
      padding-bottom: 150%;
    }
  }

  &[data-rmr-aspect="16-9"] {
    &:before {
      padding-bottom: 56.25%;
    }
  }

  &[data-rmr-aspect="3-2"] {
    &:before {
      padding-bottom: 66.666%;
    }
  }

  &[data-rmr-aspect="2-1"] {
    &:before {
      padding-bottom: 50%;
    }
  }

  & > * {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
  }
}

div#rmr-debug {
  position: fixed;
  bottom: 0;
  right: 0;
  background: #FF0090;
  color: #fff;
  padding: 5px 10px;
  border-top-left-radius: 5px;
  font-size: 10px;
  font-family: $rmr-fonts-mono;
  z-index: 3;
}


/*

body {
 @include safari-11 {
  background: red;
 }
}


body {
  @include touch-device {
    background: blue;
  }
}


body {
  background: blue;
  @include rmr-webkit-mobile {
    background: purple;
  }
}



body {
  @include firefox {
    background: purple;
  }
}


body {
  @include rmr-window-large {
    background: red;
  }
}
*/
