@charset "UTF-8";

@import "rmr-mixins";
@import "rmr-reset";
@import "rmr-animations";
@import "rmr-breakpoints";


$system-font: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;

/*

body {
 @include safari-11 {
  background: red;
 }
}


body {
  @include touch-device {
    background: blue;
  }
}


body {
  background: blue;
  @include rmr-webkit-mobile {
    background: purple;
  }
}



body {
  @include firefox {
    background: purple;
  }
}


body {
  @include rmr-window-large {
    background: red;
  }
}
*/
